/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
 
.navigationSlider .slidingNav ul {
    background: #1d144d;
}

.homeContainer .homeWrapper .projectLogo img {
    max-height: 350px;
    height: 350px;
}

.pluginWrapper .button {
    border: 1px solid #fff;
    color: #fff;
}

.pluginWrapper .button:hover {
    border: 1px solid #50E3C2;
    color: #50E3C2;
}

.subscribe .button {
    border-color: #50E3C2;
    background-color: #50E3C2;
}

.subscribe .button:hover {
    border: 1px solid #fff;
    background-color: #fff;
    color: #50E3C2;
}

.gitlabButton {
    /* border: 1px solid #fff;
    color: #fff; */
    border-color: #50E3C2;
    background-color: #50E3C2;
    color: #fff;
}

.gitlabButton:hover {
    border: 1px solid #fff;
    background-color: #fff;
    color: #50E3C2;
    /* border: 1px solid #fff;
    background-color: #fff;
    color: #50E3C2; */
}

.subscribeButton {
    border-color: #50E3C2;
    background-color: #50E3C2;
    color: #fff;
}

.subscribeButton:hover {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    color: #50E3C2;
}


.mainContainerHome {
    background-color: #f2f2f2;
}

.w-row {
    max-width: 960px;
    margin: 0 auto;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.w-col-4 {
    width: 33.3333%;
}

.w-col-6 {
    width: 50%;
}

h2 {
    font-family: Lato;
    /* font-weight: 700;
    font-size: 22px;
    font-style: normal; */
}

h3 {
    font-family: Lato;
    font-weight: 700;
    font-size: 22px;
    font-style: normal;
}

.text-icon {
    padding: 2px 0 16px 40px;
    background-repeat: no-repeat;
    background-size: 30px;
    margin-bottom: 0;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.img-stack-div {
    padding-top: 2.85714rem !important;
    padding-bottom: 2.85714rem !important;
}

.img-stack {
    width: 120px !important;
    opacity: .6 !important;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: ease;
    transition-delay: 0s;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.img-stack:hover {
    opacity: 1 !important;
}

.localTable tr {
    border: 0;
}

.localTable th, .localTable td {
    border: 0;
}

.localTable tr:nth-child(even) {
    background: transparent;
}

.imgFeaturesRight {
    height: 400px;
    max-width: none;
}

.imgFeaturesLeft {
    height: 400px;
    max-width: none;
    position: absolute;
    right: 15px;
}

.featuresWContainer {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Lato;
    height: 480px;
}

.featuresWContainer .featuresText {
    max-width: 450px;
    margin-right: 30px;
}

.mainContainer a {
    color: #0bbc87;
}

.mainContainer a:hover {
    color: #0bbc87;
    text-decoration: underline;
}

.post a {
    color: #0bbc87;
}

.post  a:hover {
    color: #0bbc87;
    text-decoration: underline;
}

@media only screen and (max-width: 640px) {

    .w-col-4, .w-col-6 {
        float: none;
        width: 100%;
        max-width: 640px;
    }

    .w-col-4 {
        margin: 0 auto 30px;
    }

    .w-col-6 h3 {
        margin-top: 0;
        padding-top: 1.5em;
    }

    .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }

}

@media only screen and (max-width: 1024px) {

    .imgFeaturesRight {
        height: auto;
        width: 100%;
        position: static;
    }
    
    .imgFeaturesLeft {
        height: auto;
        width: 100%;
        position: static;
    }

    .featuresWContainer {
        height: auto;
    }

}