package genrest

import (
	"github.com/gin-gonic/gin"
	"net/http/httptest"
)

func RegisterRestPath(r *gin.Engine) {
	{{- range .Definitions }}
		Register{{.Translator.Definition.Title}}RestPath(r)
	{{- end}}
}


type TestRestDriver struct{
	Server *httptest.Server
}